{% extends "layout.html" %}
{% from "lintian-fixes/util.html" import lintian_tag_link %}
{% block sidebar %}{% include "lintian-fixes/sidebar.html" %}{% endblock %}
{% block page_title %}Lintian Fixes{% endblock %}
{% block body %}

<div class="section" id="lintian-fixes">
<h1>Lintian Fixes</h1>
<p>The Debian Janitor regularly runs <a class="reference external"
href="https://salsa.debian.org/jelmer/lintian-brush">lintian-brush</a> over
all packages in the archive that are maintained in Git.</p>

<p>The resulting changes can be accessed on this site, or the Janitor can
automatically propose them as merge requests on supported hosting sites (Salsa,
GitHub, GitLab, Launchpad).</p>
<p>For a current list of open requests, see <a href="merge-proposals">merge-proposals</a>. For a list of generated changes that ready to be proposed or pushed, see <a href="ready">ready</a> (or <a href="by-tag">grouped by lintian tag</a>). For a list of packages that are candidates for fixes, see <a href="candidates">candidates</a>.</p>

<p>At the moment, the Janitor's merge proposal are still triggered by a <a href="/about">human</a>
(after manual review). </p>

<div class="section" id="faq">
<h2>FAQ</h2>
<div class="contents local topic" id="contents">
<p class="topic-title first">Contents:</p>
<ul class="simple">
<li><a class="reference internal" href="#how-do-i-opt-in" id="id7">How do I opt in?</a></li>
<li><a class="reference internal" href="#i-dont-find-this-useful-how-do-i-stop-it" id="id8">I don’t find this useful. How do I stop it?</a></li>
<li><a class="reference internal" href="#how-do-i-download-just-the-diff" id="id20">How do I download the diff for a package?</a></li>
<li><a class="reference internal" href="#this-is-great-how-do-i-get-it-to-automatically-push-improvements-to-my-repository" id="id9">This is great. How do I get it to automatically push improvements to my repository?</a></li>
<li><a class="reference internal" href="#how-are-repositories-located" id="id10">How are repositories located?</a></li>
<li><a class="reference internal" href="#what-repositories-are-supported" id="id11">What repositories are supported?</a></li>
<li><a class="reference internal" href="#what-kind-of-changes-are-made" id="id12">What kind of changes are made?</a></li>
<li><a class="reference internal" href="#how-do-i-prevent-the-janitor-from-making-certain-changes" id="id20">How do I prevent the janitor from making certain changes?</a></li>
<li><a class="reference internal" href="#why-does-or-does-the-bot-not-update-changelog" id="id22">Why does or doesn't the bot update debian/changelog?</a></li>
<li><a class="reference internal" href="#won-t-this-mean-i-get-a-pull-request-for-each-bit-of-trailing-whitespace" id="id13">Won’t this mean I get a pull request for each bit of trailing whitespace?</a></li>
<li><a class="reference internal" href="#the-bot-is-proposing-an-incorrect-change-where-do-i-report-this" id="id14">The bot is proposing an incorrect change. Where do I report this?</a></li>
<li><a class="reference internal" href="#the-bot-is-doing-something-else-wrong-where-do-i-report-this" id="id15">The bot is doing something else wrong. Where do I report this?</a></li>
<li><a class="reference internal" href="#what-do-i-do-about-out-of-date-proposals" id="id21">What do I do about merge proposals that are out of date?</a></li>
<li><a class="reference internal" href="#how-do-i-run-the-fixers-locally" id="id16">How do I run the fixers locally?</a></li>
<li><a class="reference internal" href="#how-can-i-contribute-more-fixer-scripts" id="id17">How can I contribute more fixer scripts?</a></li>
<li><a class="reference internal" href="#would-it-be-possible-to-run-the-debian-janitor-on-the-ubuntu-archive" id="id18">Would it be possible to run the Debian Janitor on the Ubuntu archive?</a></li>
<li><a class="reference internal" href="#what-technologies-are-used" id="id19">What technologies are used?</a></li>
</ul>
</div>

{% include "faq-opt-in.html" %}
{% include "faq-opt-out.html" %}
{% include "faq-download-diff.html" %}
{% include "faq-update-changelog.html" %}
{% include "faq-auto-push.html" %}
{% include "faq-vcs-finding.html" %}
{% include "faq-supported-vcs.html" %}
{% include "lintian-fixes/faq-kinds.html" %}
{% include "lintian-fixes/faq-restrict.html" %}
{% include "lintian-fixes/faq-addon.html" %}
{% include "faq-incorrect.html" %}
{% include "faq-other-problem.html" %}
{% include "faq-out-of-date-proposal.html" %}
{% include "lintian-fixes/faq-locally.html" %}
{% include "lintian-fixes/faq-contributing.html" %}
{% include "faq-api.html" %}
{% include "lintian-fixes/faq-ubuntu.html" %}
{% include "lintian-fixes/faq-technology.html" %}

</div>
</div>

<script>
$(document).ready(function() {
var packages = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  prefetch: '/api/pkgnames'
});

$('#package').typeahead(null, {
  name: 'packages',
  source: packages
});
});
</script>


{% endblock %}
