{% extends "layout.html" %}
{% block sidebar %}{% include "lintian-fixes/sidebar.html" %}{% endblock %}
{% from "lintian-fixes/util.html" import lintian_tag_link, lintian_brush_summary %}
{% block page_title %}Lintian Fixes - for {{ tag }}{% endblock %}
{% block body %}
<div class="section" id="fixed-tag-list">
<h1>Fixes for lintian tag <i>{{ tag }}</i></h1>

<p>Lintian Info page: {{ lintian_tag_link(tag) }}</p>

{% if oldnames %}
<p>Old tag names: {% for oldname in oldnames %}{{ oldname }}{% if not loop.last %}, {% endif %}{% endfor %}.
{% endif %}

<ul>
{% for package, command, result_code, context, start_time, id, tag in packages %}
	<li><a href="../pkg/{{ package }}">{{ package }}</a></li>
{% endfor %}
</ul>

</div>
{% endblock %}
