{% extends "layout.html" %}
{% block sidebar %}{% include "orphan/sidebar.html" %}{% endblock %}
{% block page_title %}Orphan Fixes{% endblock %}
{% block body %}

<div class="section" id="orphan">
<h1>Moving Orphaned packages to the QA team</h1>

<p>The Debian Janitor moves packages that have been orphaned to the QA team.</p>

<p>For a current list of open requests, see <a
href="merge-proposals">merge-proposals</a>. For a list of generated changes
that ready to be proposed or pushed, see <a href="ready">ready</a>. For a list
of packages that are candidates for fixes, see <a
href="candidates">candidates</a>.</p>

<p>At the moment, the Janitor's merge proposal are still triggered by a <a href="/about">human</a>
(after manual review). </p>

<div class="section" id="faq">
<h2>FAQ</h2>
<div class="contents local topic" id="contents">
<p class="topic-title first">Contents:</p>
<ul class="simple">
<li><a class="reference internal" href="#how-do-i-opt-in" id="id7">How do I opt in?</a></li>
<li><a class="reference internal" href="#i-dont-find-this-useful-how-do-i-stop-it" id="id8">I don’t find this useful. How do I stop it?</a></li>
<li><a class="reference internal" href="#how-are-repositories-located" id="id10">How are repositories located?</a></li>
<li><a class="reference internal" href="#what-repositories-are-supported" id="id11">What repositories are supported?</a></li>
<li><a class="reference internal" href="#why-does-or-does-the-bot-not-update-changelog" id="id22">Why does or doesn't the bot update debian/changelog?</a></li>
<li><a class="reference internal" href="#the-bot-is-proposing-an-incorrect-change-where-do-i-report-this" id="id14">The bot is proposing an incorrect change. Where do I report this?</a></li>
<li><a class="reference internal" href="#the-bot-is-doing-something-else-wrong-where-do-i-report-this" id="id15">The bot is doing something else wrong. Where do I report this?</a></li>
<li><a class="reference internal" href="#what-do-i-do-about-out-of-date-proposals" id="id21">What do I do about merge proposals that are out of date?</a></li>
</ul>
</div>

{% include "faq-opt-in.html" %}
{% include "faq-opt-out.html" %}
{% include "faq-vcs-finding.html" %}
{% include "faq-supported-vcs.html" %}
{% include "faq-incorrect.html" %}
{% include "faq-other-problem.html" %}
{% include "faq-out-of-date-proposal.html" %}

</div>

</div>

{% endblock %}
