    <div class="footer">
      &copy;2018-2022 <a href="/about">Jelmer Vernooĳ</a>.  <a href="https://salsa.debian.org/jelmer/janitor.debian.net/issues/new">File a bug</a>. <a href="https://salsa.debian.org/jelmer/janitor.debian.net">Source code</a>. Published under the GNU GPLv2 or later.
    </div>
